  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <a data-toggle="collapse" data-target="#navbar-3" class="navbar-item hidden-md-up mr-3">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <div ui-include="'/views/blocks/navbar.brand.html'"></div>

        <!-- navbar collapse -->
        <div class="collapse navbar-collapse" id="navbar-3">
          <div ui-include="'/views/blocks/navbar.form.html'"></div>
          <!-- link and dropdown -->
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href>
                <span>Link</span> 
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
                <span>Dropdown</span>
              </a>
              <div ui-include="'/views/blocks/dropdown.html'"></div>
            </li>
          </ul>
          <!-- / link and dropdown -->
        </div>
        <!-- / navbar collapse -->

        <!-- nabar right -->
        <ul class="nav navbar-nav flex-row align-items-center ml-auto">
          <li class="nav-item dropdown pos-stc-xs">
            <a class="nav-link" href data-toggle="dropdown">
              <i class="material-icons">&#xe7f5;</i>
              <span class="label label-sm up warn">3</span>
            </a>
            <div ui-include="'../views/blocks/dropdown.notification.html'"></div>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link dropdown-toggle text-ellipsis" data-toggle="dropdown">
              <span class="hidden-md-down nav-text m-r-sm text-right">
                <span class="block l-h-1x _500">Jack Perez</span>
                <small class="block l-h-1x text-muted"><i class="material-icons text-md">&#xe0c8;</i> Los Angeles, CA</small>
              </span>
              <span class="avatar w-32">
                <img src="/assets/images/a1.jpg" alt="...">
                <i class="away b-white left"></i>
              </span>
            </a>
            <div ui-include="'/views/blocks/dropdown.user.html'"></div>
          </li>
        </ul>
        <!-- / navbar right -->
  </div>
