

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Country Data</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="p-a-md dker _600"></div>
        <%= form_for :user,:url => send_sms_path do |form| %>
               
          <div class="form-group">
            <label>telephone</label>
            <%= form.text_field :tel,class: 'form-control' %>
          </div>
          
          
          <button type="submit" class="btn btn-info m-t" >Submit</button>
        <% end %>
      </div>

      


      
</div>



<!-- ############ PAGE END-->

 