

<!-- ############ PAGE START-->
<div class="row no-gutter">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-primary">
        <ul class="nav nav-sm flex-column">
          <li class="nav-item">
            <a class="nav-link block active" href data-toggle="tab" data-target="#tab-1">Country Data</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="tab-1">
        <div class="p-a-md dker _600"></div>
        <%= form_with(model: country, local: true, class: 'p-a-md col-md-6') do |form| %>
          <% if country.errors.any? %>
             <div id="error_explanation">
                <%= pluralize(country.errors.count, "error") %> prohibited this country from being saved: 
                <ul>
                    <% country.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                   <% end %>
               </ul>
             </div>
          <% end %>      
          <div class="form-group">
            <label>Full Name</label>
            <%= form.text_field :Full_Name,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Short Code</label>
            <%= form.text_field :short_code,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Phone Code</label>
            <%= form.number_field :Phone_code,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Currency</label>
            <%= form.text_field :Currency,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label>Language</label>
            <%= form.text_field :language,class: 'form-control' %>
          </div>
          <div class="form-group">
            <label class="col-sm-4 form-control-label">Country Status</label>
                  <div class="col-sm-10">
                        <label>Active</label>
                        <label class="ui-switch m-t-xs m-r">
                            <%= form.radio_button :active, '1' %>                                 
                            <i></i>
                        </label>
                        <label>Disabled</label>
                             <label class="ui-switch m-t-xs m-r">
                             <%= form.radio_button :active, '0' %>                                 
                             <i></i>
                        </label>
                  </div>
          </div> 
          
          <button type="submit" class="btn btn-info m-t" >Submit</button>
        <% end %>
      </div>

      


      
</div>



<!-- ############ PAGE END-->

 